.wrap__pricing{
    max-width: 700px;
    width: 100%;
    max-height: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing__text{
    max-width: 700px;
    width: 100%;
    max-height: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.text__main{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 67px;
    color: #212529;
    text-align: center;
}

.text__paragraph{
    max-width: 665px;
    width: 100%;
    max-height: 82px;
    height: 100%;
    text-align: center;
}

.paragraph__configs{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #212529;
}